<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if user %}Editar{% else %}Criar{% endif %} Usuário</title>
    <!-- Link do Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">{% if user %}Editar{% else %}Criar{% endif %} Usuário</h1>
        <form method="POST">
            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ user.name if user else '' }}" required>
            </div>
            <button type="submit" class="btn btn-success btn-block">{% if user %}Atualizar{% else %}Criar{% endif %}</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">Voltar</a>
    </div>
    <!-- Link do Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
